#discussionboard-navbar {
    background-color: #FFFFFF;
    font-weight: 900;
    font-size: 1.125em;
    border: none;
}

.discussionboard-nav-brand-link {
    color: #1A237E;
}

.discussionboard-nav-link {
    color: #1A237E;
}

.discussionboard-nav-link:hover {
    color: #3F51B5;
}

.discussionboard-section-odd hr {
    height: 5px;
    border: none;
    background-color: #1A237E;
}

.discussionboard-section-even hr {
    height: 5px;
    border: none;
    background-color: #FFFFFF;
}

.discussionboard-name {
    color: white;
    font-size: 4em;
    font-weight: 800;
}

.discussionboard-skills {
    color: white;
    font-size: 1.5em;
    font-weight: 300;
}

#discussionboard-intro-section {
    background-color: #1A237E;
    padding-bottom: 50px;
}

.discussionboard-section-odd {
    background-color: #FFFFFF;
    padding-bottom: 50px;
    padding-top: 50px;
}

.discussionboard-section-even {
    background-color: #1A237E;
    padding-bottom: 50px;
    padding-top: 50px;
}

.discussionboard-section-odd-heading {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 600;
    color: #1A237E;
    text-align: center;
}

.discussionboard-section-odd-text {
    font-weight: 900;
    font-size: 1.25em;
    text-align: justify;
    text-align-last: center;
    color: #1A237E;
}

.discussionboard-section-even-heading {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
}

.discussionboard-section-even-text {
    font-weight: 900;
    font-size: 1.25em;
    text-align: justify;
    text-align-last: center;
    color: #FFFFFF;
}

.discussionboard-hover-tile {
    min-height: 60px;
    background-color: #1A237E;
    color: #FFFFFF;
    padding: 5px;
    margin: 5px;
}

.discussionboard-hover-tile:hover {
    background-color: #FFFFFF;
    color: #1A237E;
}
