<div class="container-fluid">
    <navbar></navbar>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <h2>Report Generator</h2>
            <hr style="border-style: inset;border-width: 2px;">
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row text-warning bg-warning">
        <div class="col-md-12">
            <p>
                <center>
                    For instructions on generating data, please refer to the following page on <a href="https://github.com/letshpcorg/letshpcsample" style="color: blue" target="_blank">github</a> 
                </center>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row pad-up">
                <center>
                    <div class="col-md-6 col-md-offset-3 well">
                        Upload CSV file:&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="btn btn-primary btn-file" title='Upload Time file'>
                            Normal <input type="file" style="display: none;" onchange="angular.element(this).scope().report.read_file(this.files, true)">
                        </label>&nbsp;&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="btn btn-primary btn-file" title='Upload Perf data file'>
                            Advanced <input type="file" style="display: none;" onchange="angular.element(this).scope().report.read_file(this.files, false)">
                        </label><!-- &nbsp;&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-default btn-primary" onclick="window.open('https://github.com/letshpcorg/samplefiles')">Download Default Data</button> -->
                    </div>
            <div  ng-show="this.report.threadsCounted">

                <div class="col-md-6 col-md-offset-3 well">
                    <div class="col-md-6" id="drop">
                        <label for="hello">Number of threads (0 = serial)</label>
                        <multiselect id="hello" ng-model="this.report.selectedThreads" options="this.report.threadsShown"></multiselect>
                    </div>
                    <div class="col-md-3" id="check">
                        <center>
                            E2E <input type="checkbox" ng-model="this.report.plotE2E">
                            ALG <input type="checkbox" ng-model="this.report.plotAlg">
                        </center>
                    </div>
                    <div class="col-md-3" id="btnupdate">
                        <button class="btn btn-default btn-primary" ng-click="this.report.ca.updateChart()">Update</button>
                    </div>
                </div>

            </div>
            
               </center>
            </div>
            <div class="row pad-up" ng-if="report.low_p">
                <div class="col-md-10 col-md-offset-1 well text-center">
                    <span class="text-danger">Warning: Even though a chart will be plotted, the data has too low thread count variation to make credible analysis. Consider running your approach for more thread counts.</span>
                </div>
            </div>
            <div class="row pad-up" ng-if="report.low_n">
                <div class="col-md-10 col-md-offset-1 well text-center">
                    <span class="text-danger">Warning: Even though a chart will be plotted, the data has too low size variation to make credible analysis. Consider running your approach for more sizes.</span>
                </div>
            </div>
            <div class="row pad-up" ng-if="report.low_runs">
                <div class="col-md-10 col-md-offset-1 well text-center">
                    <span class="text-danger">Warning: Even though a chart will be plotted, the data has too low run variation to make credible analysis. Consider running your approach for more runs to average out the noise.</span>
                </div>
            </div>
            <div class="row pad-up" ng-if="report.no_serial">
                <div class="col-md-10 col-md-offset-1 well text-center">
                    <span class="text-danger">Error: The data does not contain runs for 0 thread counts which represent serial execution of the data. Since speedup is calculated based on the execution time of the serial code, no speedup plot will be available. Execution time plots are available normally. Add data for 0 thread count to activate speedup plots</span>
                </div>
            </div>
            <div class="row pad-up" ng-if="report.error">
                <center>
                    <div class="col-md-10 col-md-offset-1 well">
                        <span class="text-danger" ng-repeat="x in report.errorMessage">{{x}} </br> </span>
                    </div>
                </center>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hpc-chart data="this.report.ca.data" options="this.report.ca.chartOptions"></hpc-chart>
                </div>
            </div>
            <div class="row pad-up" style="padding-bottom: 1cm;">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModalca">
                        Metric Selector
                    </button>
                    <!-- Modal for Metric Selection in Compare Approaches -->    
                    <div class="modal fade" id="myModalca" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Select a metric</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <div class="row" ng-if="!this.report.perfData">
                                            <h3>Basic Metrics</h3>
                                            <div class="row pad-up">
                                                <div class="col-md-3 btn btn-default" ng-class="{'active': 'executionTime'==report.ca.activeChart}" ng-click="report.ca.changeChartType('executionTime', report.ca.activeStatistic)">Execution time</div>
                                                <div class="col-md-3 btn btn-default" ng-class="{'active': 'speedup'==report.ca.activeChart}" ng-click="report.ca.changeChartType('speedup', report.ca.activeStatistic)">Speedup</div>
                                                <div class="col-md-3 btn btn-default" ng-class="{'active': 'karpFlatt'==report.ca.activeChart}" ng-click="report.ca.changeChartType('karpFlatt', report.ca.activeStatistic)">Karp Flatt</div>
                                                <div class="col-md-3 btn btn-default" ng-class="{'active': 'efficiency'==report.ca.activeChart}" ng-click="report.ca.changeChartType('efficiency', report.ca.activeStatistic)">Efficiency</div>
                                            </div>
                                        </div>
                                            <hr />
                                            <div class="row" ng-if="this.report.perfData">
                                                <h3>Advanced Metrics</h3>
                                                <div class="row pad-up">
                                                    <div class="col-md-3 btn btn-default" ng-class="{'active': field==report.ca.activeChart}" ng-repeat="field in report.perfFields" ng-click="report.ca.changeChartType(field, report.ca.activeStatistic)">
                                                        {{report.camelCaseToTitle(field)}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-btn" data-toggle="tooltip" data-placement="top" title="Select the statistic to plot">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="report.problemsReady">Statistic <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="report.ca.changeChartType(report.ca.activeChart, 'mean')">Mean</a></li>
                                <li><a href="#" ng-click="report.ca.changeChartType(report.ca.activeChart, 'median')">Median</a></li>
                                <li><a href="#" ng-click="report.ca.changeChartType(report.ca.activeChart, 'range')">Range</a></li>
                                <li><a href="#" ng-click="report.ca.changeChartType(report.ca.activeChart, 'standardDeviation')">Standard Deviation</a></li>
                            </ul>
                        </div>
                        <input type="text" class="form-control" placeholder="Statistic" value="{{report.camelCaseToTitle(report.ca.activeStatistic)}}" disabled>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <hr />
            <!-- <h3>Advanced Metrics</h3>
            <div class="row pad-up">
                <div class="col-md-3 btn btn-default" ng-class="{'active': report.active_chart==field}" ng-repeat="field in report.perfFields" ng-click="report.refresh_chart(field)">
                    {{main.camelCaseToTitle(field)}}
                </div>
            </div> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="form-group">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <a href="#trivial" data-toggle="collapse">Basic Implementation Details</a>
                    </div>
                    <div id="trivial" class="panel-body collapse">
                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="BCDSI"><h4>Serial Implementation</h4></label>
                        </div>
                        <div id="BCDSI" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iBCDSI" name="BCDSI" type="text" placeholder="Brief and clear description about the serial implementation" class="form-control input-lg"></textarea>

                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="BCSPI"><h4>Implementation of Approach</h4></label>
                        </div>
                        <div id="BCSPI" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iBCSPI" name="BCSPI" type="text" placeholder="Brief and clear description about the implementation of the approach (Parallelization strategy, Mapping of computation to threads)" class="form-control input-lg"></textarea>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <a href="#CoAnRe" data-toggle="collapse">Complexity and Analysis Related</a>
                    </div>
                    <div id="CoAnRe" class="panel-body collapse">

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="CoSeCo"><h4>Complexity of serial code</h4></label>
                        </div>
                        <div id="CoSeCo" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iCoSeCo" name="CoSeCo" type="text" placeholder="" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="CoPaCo"><h4>Complexity of parallel code</h4></label>
                        </div>
                        <div id="CoPaCo" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iCoPaCo" name="CoPaCo" type="text" placeholder="Complexity of parallel code (split as needed into work, step, etc.)" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="CoPa"><h4>Cost of Parallel Algorithm</h4></label>
                        </div>
                        <div id="CoPa" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iCoPa" name="CoPa" type="text" placeholder="" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="ThSpu"><h4>Theoretical Speedup</h4></label>
                        </div>
                        <div id="ThSpu" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iThSpu" name="ThSpu" type="text" placeholder="Theoretical Speedup (using asymptotic analysis, etc.)" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="EstSerFra"><h4>Estimated Serial Fraction</h4></label>
                        </div>
                        <div id="EstSerFra" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iEstSerFra" name="EstSerFra" type="text" placeholder="Estimated Serial Fraction (you can use gprof, theoretical estimates, using FLOP, (e2e-alg)/e2e)" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="Tub"><h4>Tight upper bound based on Amdahl's Law</h4></label>
                        </div>
                        <div id="Tub" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iTub" name="Tub" type="text" placeholder="Tight upper bound based on Amdahl's Law (using data from previous question)" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="NuMA"><h4>Number of memory accesses</h4></label>
                        </div>
                        <div id="NuMA" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iNuMA" name="NuMA" type="text" placeholder="Number of memory accesses (load and store using counters)" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="NoCom"><h4>Number of computations</h4></label>
                        </div>
                        <div id="NoCom" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iNoCom" name="NoCom" type="text" placeholder="Number of computations (in FLOP using counters)" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <a href="#CuBaAn" data-toggle="collapse">Curve Based Analysis</a>
                    </div>
                    <div id="CuBaAn" class="panel-body collapse">

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="TCRAProc"><h4>Time Curve analysis</h4></label>
                        </div>
                        <div id="TCRAProc" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iTCRAProc" name="TCRAProc" type="text" placeholder="Time Curve related analysis (as no. of processor increases)" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="TCRAProSize"><h4>Time Curve analysis</h4></label>
                        </div>
                        <div id="TCRAProSize" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iTCRAProSize" name="TCRAProSize" type="text" placeholder="Time Curve related analysis (as problem size increases, also for serial)" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="SCRA"><h4>Speedup Curve analysis</h4></label>
                        </div>
                        <div id="SCRA" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iSCRA" name="SCRA" type="text" placeholder="Speedup Curve related analysis (as problem size and no. of processors increase)" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="ECRA"><h4>Efficiency Curve analysis</h4></label>
                        </div>
                        <div id="ECRA" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iECRA" name="ECRA" type="text" placeholder="" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="KFRA"><h4>Karp-Flatt metric analysis</h4></label>
                        </div>
                        <div id="KFRA" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iKFRA" name="KFRA" type="text" placeholder="" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <a href="#FuDeAn" data-toggle="collapse">Further Detailed Analysis</a>
                    </div>
                    <div id="FuDeAn" class="panel-body collapse">

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="MSPO"><h4>Major serial and parallel overheads</h4></label>
                        </div>
                        <div id="MSPO" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iMSPO" name="MSPO" type="text" placeholder="" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="MWRA"><h4>Memory wall analysis</h4></label>
                        </div>
                        <div id="MWRA" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iMWRA" name="MWRA" type="text" placeholder="" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="CCRA"><h4>Cache coherence analysis</h4></label>
                        </div>
                        <div id="CCRA" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iCCRA" name="CCRA" type="text" placeholder="" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="FSRA"><h4>False sharing analysis</h4></label>
                        </div>
                        <div id="FSRA" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iFSRA" name="FSRA" type="text" placeholder="" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="SraRA"><h4>Scheduling analysis</h4></label>
                        </div>
                        <div id="SraRA" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iSraRA" name="SraRA" type="text" placeholder="" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="LBRA"><h4>Load balance analysis</h4></label>
                        </div>
                        <div id="LBRA" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iLBRA" name="LBRA" type="text" placeholder="" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="SyncRA"><h4>Synchronisation analysis</h4></label>
                        </div>
                        <div id="SyncRA" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iSyncRA" name="SyncRA" type="text" placeholder="" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="GRA"><h4>Granularity analysis</h4></label>
                        </div>
                        <div id="GRA" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iGRA" name="GRA" type="text" placeholder="" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="ScaRA"><h4>Scalability analysis</h4></label>
                        </div>
                        <div id="ScaRA" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iScaRA" name="ScaRA" type="text" placeholder="" class="form-control input-lg"></textarea>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <a href="#AddAna" data-toggle="collapse">Additional Approach Analysis</a>
                    </div>
                    <div id="AddAna" class="panel-body collapse">

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="AOC"><h4>Further Analysis</h4></label>
                        </div>
                        <div id="AOC" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iAOC" name="AOC" type="text" placeholder="Analysis of any other concepts/factors you think were important in your problem-approach combination" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="CBMB"><h4>Further details</h4></label>
                        </div>
                        <div id="CBMB" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iCBMB" name="CBMB" type="text" placeholder=" (Code balance , machine balance analysis, how much of peak performance achieved in terms of %age)" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="ADDADA"><h4>Advantages/Disadvantages</h4></label>
                        </div>
                        <div id="ADDADA" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iADDADA" name="ADDADA" type="text" placeholder="Advantages/Disadvantages of your approach" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="DFIA"><h4>Difficulties</h4></label>
                        </div>
                        <div id="DFIA" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iDFIA" name="DFIA" type="text" placeholder="Difficulties faced while implementing this approach" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-10 col-md-offset-1 control-label" for="AAC"><h4>Any additional comments</h4></label>
                        </div>
                        <div id="AAC" class="row collapse-in">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <textarea ng-model="report.iAAC" name="AAC" type="text" placeholder="" class="form-control input-lg"></textarea>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-3">
                    <button type="button" ng-click="report.generate_report()" class="btn btn-success">Generate Report Tex File</button>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <button type="button" ng-click="report.clear_report()" class="btn btn-danger">Clear Report</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <footer class="pad-up"></footer>
</div>
