#report-generator #latex-form a, #report-generator #latex-form a:hover, #report-generator #latex-form a:active, #report-generator #latex-form a:focus, #report-generator #latex-form a:visited {
    color: #FFFFFF;
}

#drop {
    padding-left: 4cm;
}

#check{
	position: relative;
   	top:25px;
}

#btnupdate{
	position: relative;
	top:20px;
}