#report-generator a, #report-generator a:hover, #report-generator a:active, #report-generator a:focus, #report-generator a:visited {

    color: #FFFFFF;
}

#drop {
    padding-left: 4cm;
}

#check{
	position: relative;
   	top:25px;
}

#btnupdate{
	position: relative;
	top:20px;
}
