<navbar></navbar>
<div layout="row" layout-align="center center">
    <div flex="10">
        <!-- <center> -->
        <label class="md-button md-primary md-raised">
                Upload CSV file <input type="file" style="display: none;" onchange="angular.element(this).scope().custom.readFile(this.files)">
            </label>
        <!-- </center> -->
    </div>
    <div flex="10">
        <md-button class="md-primary md-raised" ng-click="custom.downloadDefaultData()">Download Default Data</md-button>
    </div>
</div>
<div layout="column">
    <div ng-if="custom.lowP" md-colors="{background: 'red-100', color: 'red-A700'}">
        <p>
            <center>
                Warning: Even though a chart will be plotted, the data has too low thread count variation to make credible analysis. Consider running your approach for more thread counts.
            </center>
        </p>
    </div>
    <div ng-if="custom.lowN" md-colors="{background: 'red-100', color: 'red-A700'}">
        <p>
            <center>
                Warning: Even though a chart will be plotted, the data has too low size variation to make credible analysis. Consider running your approach for more sizes.
            </center>
        </p>
    </div>
    <div ng-if="custom.lowRuns" md-colors="{background: 'red-100', color: 'red-A700'}">
        <p>
            <center>
                Warning: Even though a chart will be plotted, the data has too low run variation to make credible analysis. Consider running your approach for more runs to average out the noise.
            </center>
        </p>
    </div>
    <div ng-if="custom.noSerial" md-colors="{background: 'red-100', color: 'red-A700'}">
        <p>
            <center>
                Error: The data does not contain runs for 0 thread counts which represent serial execution of the data. Since speedup is calculated based on the execution time of the serial code, no speedup plot will be available. Execution time plots are available normally. Add data for 0 thread count to activate speedup plots
            </center>
        </p>
    </div>
</div>
<div layout="row" layout-align="space-around center" ng-if="custom.dataSet">
    <div flex="100">
        <hpc-chart data="custom.data" options="custom.chartOptions"></hpc-chart>
    </div>
</div>
<div layout="row" layout-align="center center">
    <md-button flex="15" class="md-raised" ng-class="{'md-primary': custom.activeChart=='efficiency'}" ng-click="custom.changeChartType('efficiency')">Efficiency</md-button>
    <md-button flex="15" class="md-raised" ng-class="{'md-primary': custom.activeChart=='karpFlatt'}" ng-click="custom.changeChartType('karpFlatt')">Karp Flatt</md-button>
    <md-button flex="15" class="md-raised" ng-class="{'md-primary': custom.activeChart=='speedup'}" ng-click="custom.changeChartType('speedup')">Speedup</md-button>
    <md-button flex="15" class="md-raised" ng-class="{'md-primary': custom.activeChart=='executionTime'}" ng-click="custom.changeChartType('executionTime')">Execution Time</md-button>
</div>
