<div class="text-center" id="footer-global">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <!-- <h3>Location</h3>
                    <p>DA-IICT
                        <br>Gandhinagar, Gujarat 382007</p> -->
                </div> 
                <div class="footer-col col-md-4">
                    <h4>LET's HPC</h4>
                    <p id="info">A web-portal to help you learn, educate and teach High Performance Computing.</p>
                </div>
                <div class="footer-col col-md-4">
                     <!-- <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>  -->
                </div> 
                
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    Copyright &copy; www.letshpc.org
                </div>
            </div>
        </div>
    </div>
</div>
