<!-- <div class="text-center" id="footer-global">

</div> -->
<div class="footer-global">
    <div layout="row" layout-align="center center">
        <div flex="40">
            <center>
                <h3>Location</h3>
                <p>DA-IICT
                <br>Gandhinagar, Gujarat 382007</p>
            </center>
        </div>
        <div flex="40">
            <center>
                <h3>About LET's HPC</h3>
                <p>A web-portal to help you learn, educate and teach High Performance Computing.</p>
            </center>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="50" flex-offset="30">
            Copyright &copy; www.letshpc.org
        </div>
    </div>
</div>
