#footer-global {
    text-align: center;
    border-top: 3px solid #E5E5E5;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1rem;
}

#info{
	line-height: 1.5em;
    height: 3em;      
    overflow: hidden;
}
