@import '../assets/bootstrap/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

/**
 * App-wide Styles
 */

html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20rem;
    margin: 0;
    position: relative;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.pad-up {
    padding-top: 20px
}

.pad-left {
    padding-left: 5%
}

::selection {
    background-color: #3F51B5;
    color: white;
}

.wrapper {
}

.reveal-animation {
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}


/* Component styles are injected through gulp */


/* inject:css */

@import 'about/about.css';

@import 'admin/admin.css';

@import 'customdata/customdata.css';

@import 'dataentry/dataentry.css';

@import 'landing/landing.css';

@import 'main/main.css';

@import 'reportgenerator/reportgenerator.css';

@import '../components/chart/chart.css';

@import '../components/footer/footer.css';

@import '../components/navbar/navbar.css';

@import '../components/oauth-buttons/oauth-buttons.css';

/* endinject */
