@import '../assets/bootstrap/css/bootstrap.min.css';

/**
 * App-wide Styles
 */

 .list-group-item {
    float: left;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.indigo {
    background-color: #3F51B5;
}

.pad-up {
    padding-top: 20px
}

.pad-left {
    padding-left: 5%
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}


/* Component styles are injected through gulp */

/* inject:css */
@import 'admin/admin.css';
@import 'main/main.css';
@import '../components/footer/footer.css';
@import '../components/oauth-buttons/oauth-buttons.css';
/* endinject */
