<nav class="navbar navbar-default" id="navbar-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span class="navbar-nav-brand-link">LET's HPC</span></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-nav-link-button" href="/landing"><span class="navbar-nav-link">Home</span></a>
                </li>
                <li>
                    <a class="navbar-nav-link-button" href="/main"><span class="navbar-nav-link">Comparison Tool</span></a>
                </li>
                <li>
                    <a class="navbar-nav-link-button" href="/reportgenerator"><span class="navbar-nav-link">Report Generator Tool</span></a>
                </li>
                <li>
                    <a class="navbar-nav-link-button" href="/customdata"><span class="navbar-nav-link">Custom Data</span></a>
                </li>
                <li>
                    <a class="navbar-nav-link-button" href="/dataentry"><span class="navbar-nav-link">Data Entry</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
