<nav class="navbar navbar-default" id="navbar-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span class="navbar-nav-brand-link">Let's HPC</span></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/"><span class="navbar-nav-link">Home</span></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><span class="navbar-nav-link">Analysis Tools</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/main">Analyse Benchmark Data</a></li>
                        <li><a href="/customdata">Analyse Custom Data</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/reportgenerator"><span class="navbar-nav-link">Report Generator Tool</span></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><span class="navbar-nav-link">Data Repository</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/dataentry"><span class="navbar-nav-link">Repository</span></a></li>
                        <li><a href="/dataentry/projects"><span class="navbar-nav-link">Projects</span></a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><span class="navbar-nav-link">About</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/about/#mission-statement">Mission</a></li>
                        <li><a href="/about/#how-it-happened">How it Started</a></li>
                        <li><a href="/about/#team">Team</a></li>
                        <li><a href="/about/#contact">Contact Us</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
