<div class="row">
    <div class="row ">
        <div class="col-md-6 col-md-offset-5">
            <div class="row">
                <div id="chart_div" />
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button type="button" class="btn btn-default btn-block" ng-class="{active: main.graph_type=='karpflatt'}" ng-click="main.change_graph('karpflatt')">Karp-Flatt metric</button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-default btn-block" ng-class="{active: main.graph_type=='speedup'}" ng-click="main.change_graph('speedup')">Speedup</button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-default btn-block" ng-class="{active: main.graph_type=='timeseries'}" ng-click="main.change_graph('timeseries')">Time series</button>
                </div>
                <div class="col-md-3">
                    <a href="{{main.chart_image}}" class="btn btn-primary btn-block" download="image.png">Export Graph</a>
                </div>
            </div>
        </div>
        <div class="col-md-5 pad-left affix">
            <div class="row">
                <div class="row pad-up">
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="category in main.categories"><a href="#" ng-click="main.select_category(category)">{{category.category_name}}</a></li>
                                </ul>
                            </div>
                            <input type="text" class="form-control" placeholder="Category" value="{{main.selected_category.category_name}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row pad-up">
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Problem <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="problem in main.problems"><a href="#" ng-click="main.select_problem(problem)">{{problem.problem_name}}</a></li>
                                </ul>
                            </div>
                            <input type="text" class="form-control" placeholder="Problem" value="{{main.selected_problem.problem_name}}" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pad-up">
                <div class="col-md-12">
                    <ul class="nav nav-pills">
                        <li role="presentation" ng-class="{active: main.compare_machines}"><a href="#" ng-click="main.machine_approach_view_change('machine')">Compare machines</a></li>
                        <li role="presentation" ng-class="{active: main.compare_approaches}"><a href="#" ng-click="main.machine_approach_view_change('approach')">Compare approaches</a></li>
                    </ul>
                    <ul class="list-group pad-up col-md-12" ng-if="main.compare_machines">
                        <li ng-repeat="machine in main.machines" class="list-group-item">
                            <div class="input-group">
                                <span class="input-group-addon">
                            <input type="checkbox" aria-label="...">
                        </span>
                                <input type="text" class="form-control" aria-label="..." disabled value="{{machine.machine_file}}">
                            </div>
                        </li>
                    </ul>
                    <ul class="list-group pad-up col-md-12" ng-if="main.compare_approaches">
                        <li ng-repeat="approach in main.approaches" class="list-group-item">
                            <div class="input-group">
                                <span class="input-group-addon">
                        0  <input type="checkbox" aria-label="...">
                        2  <input type="checkbox" aria-label="...">
                        4  <input type="checkbox" aria-label="...">
                        6  <input type="checkbox" aria-label="...">
                        8  <input type="checkbox" aria-label="...">
                      </span>
                                <input type="text" class="form-control" aria-label="..." disabled value="{{approach.apmap_approach_desc}}">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
