<!-- <script type="text/javascript" src="assets/angular-bootstrap-multiselect/js/angular-bootstrap-multiselect.min.js"></script> -->
<div class="container-fluid">
    <div class="row">
        <div class="row pad-up">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="category in main.categories"><a href="#" ng-click="main.select_category(category)">{{category.name}}</a></li>
                                </ul>
                            </div>
                            <input type="text" class="form-control" placeholder="Category" value="{{main.selected_category.name}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row pad-up">
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Problem <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="problem in main.problems"><a href="#" ng-click="main.select_problem(problem)">{{problem.name}}</a></li>
                                </ul>
                            </div>
                            <input type="text" class="form-control" placeholder="Problem" value="{{main.selected_problem.name}}" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pad-up">
            <div class="col-md-12" ng-if="main.data_fetch_complete">
                <ul class="col-md-offset-5 col-md-4 nav nav-pills">
                    <li role="presentation" ng-class="{active: main.machine_approach_view=='machine'}"><a href="#" ng-click="main.toggle_machine_approach('machine')">Compare machines</a></li>
                    <li role="presentation" ng-class="{active: main.machine_approach_view=='approach'}"><a href="#" ng-click="main.toggle_machine_approach('approach')">Compare approaches</a></li>
                </ul>
                <ul class="list-inline pad-up col-md-12" ng-if="main.machine_approach_view=='machine'">
                    <li ng-repeat="(machine_id, machine) in main.machines" class="list-group-item col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <multiselect ng-model="machine.selected_threads" options="machine.unique_thread_counts" show-select-all="true" show-unselect-all="true"></multiselect>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" disabled value="{{$index +' '+ machine.machine_file}}"></input>
                            </div>
                            <div class="col-md-2">
                                <center>
                                    E2E<input type="checkbox" ng-model="machine.plot_e2e">
                                    ALG<input type="checkbox" ng-model="machine.plot_alg">
                                </center>
                            </div>
                            <div class="col-md-3">
                                <multiselect ng-model="machine.selected_approaches" options="machine.unique_approaches" id-prop="_id" display-prop="desc" selection-limit="1"></multiselect>
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-default btn-primary" ng-click="main.update_machine_on_chart(machine_id)">Update</button>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="list-inline pad-up col-md-12" ng-if="main.machine_approach_view=='approach'">
                    <li ng-repeat="(approach_id, approach) in main.approaches" class="list-group-item col-md-12">
                        <!-- {{approach_id}} {{approach}} -->
                        <div class="row">
                            <div class="col-md-2">
                                <multiselect ng-model="approach.selected_threads" options="approach.unique_thread_counts" show-select-all="true" show-unselect-all="true"></multiselect>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" disabled value="{{$index +' '+ approach.desc}}"></input>
                            </div>
                            <div class="col-md-2">
                                <center>
                                    E2E<input type="checkbox" ng-model="approach.plot_e2e">
                                    ALG<input type="checkbox" ng-model="approach.plot_alg">
                                </center>
                            </div>
                            <div class="col-md-3">
                                <multiselect ng-model="approach.selected_machines" options="approach.unique_machines" id-prop="_id" display-prop="machine_file" selection-limit="1"></multiselect>
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-default btn-primary" ng-click="main.update_approach_on_chart(approach_id)">Update</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row pad-up">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 well">
                    <div id="chart_div" />
                    <div class="overlay">
                        <div style="font-family:'Arial Black'; font-size: 14px;">&copy; Created using HPC Plotter, DA-IICT</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 well">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-default btn-block" ng-class="{active: main.chart_options.hAxis.logScale}" ng-click="main.chart_options.hAxis.logScale=true; main.refresh_chart(main.active_chart)">X-axis: Log</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-default btn-block" ng-class="{active: !main.chart_options.hAxis.logScale}" ng-click="main.chart_options.hAxis.logScale=false; main.refresh_chart(main.active_chart)">X-axis: Linear</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 well">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-default btn-block" ng-class="{active: main.chart_options.vAxis.logScale}" ng-click="main.chart_options.vAxis.logScale=true; main.refresh_chart(main.active_chart)">Y-axis: Log</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-default btn-block" ng-class="{active: !main.chart_options.vAxis.logScale}" ng-click="main.chart_options.vAxis.logScale=false; main.refresh_chart(main.active_chart)">Y-axis: Linear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 well">
                <div class="col-md-3">
                    <button type="button" class="btn btn-default btn-block" ng-class="{active: main.active_chart=='karpflatt'}" ng-click="main.refresh_chart('karpflatt')" disabled="disabled">Karp-Flatt metric</button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-default btn-block" ng-class="{active: main.active_chart=='speedup'}" ng-click="main.refresh_chart('speedup')">Speedup</button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-default btn-block" ng-class="{active: main.active_chart=='timeseries'}" ng-click="main.refresh_chart('timeseries')">Time series</button>
                </div>
                <div class="col-md-3">
                    <a href="{{main.chart_image}}" class="btn btn-primary btn-block" download="image.png">Export Graph</a>
                </div>
            </div>
        </div>
    </div>
</div>
