<navbar></navbar>
<div layout="column" layout-align="space-around space-around">
    <div layout="column" layout-margin>
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools">Existing Data</div>
        </md-toolbar>
        <treeview item="dataentry.trialTree"></treeview>
    </div>
    <div layout="column" layout-margin>
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools">Become A Contributor</div>
        </md-toolbar>
        <center>
            To become a verified contributor to this platform, please send a mail to:
            <br />
            <a href="mailto:letshpc@gmail.com?Subject=Become%20A%20Contributor" target="_top" style="color: blue">letshpc@gmail.com</a>
        </center>
    </div>
    <div layout="column" layout-margin>
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools">Data Entry Dashboard (restricted to contributors only)</div>
        </md-toolbar>
        <div layout="column" layout-margin>
            <h4>Add Problem</h4>
            <div layout="row" layout-align="space-around start">
                <md-input-container flex="40">
                    <md-select ng-model="dataentry.addProblem.selectedCategory" placeholder="Select a category">
                        <md-option ng-repeat="category in dataentry.addProblem.categories" ng-value="category">{{ category.name }}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="40">
                    <label>Problem name</label>
                    <input type="text" ng-model="dataentry.addProblem.name" placeholder="Enter a distinctive problem name">
                </md-input-container>
            </div>
            <div layout="row" layout-align="space-around start">
                <md-input-container flex="90">
                    <label>Problem description</label>
                    <textarea rows="3" max-rows="7" md-no-resize md-detect-hidden="true" placeholder="Enter an elaborate problem description" ng-model="dataentry.add_problem.desc"></textarea>
                </md-input-container>
            </div>
            <div layout="row" layout-align="end start">
                <md-button class="md-primary md-raised" flex="20" ng-click="dataentry.submitProblem()">Add Problem</md-button>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="column" layout-margin>
            <h4>Add Machine</h4>
            <div layout="row" layout-align="center center">
                <label class="md-button md-primary md-raised">
                        Upload "lscpu" output <input type="file" style="display: none;" ng-model="dataentry.addMachine.file" onchange="angular.element(this).scope().dataentry.read_machine_file(this.files)">
                    </label>
            </div>
            <div layout="row" layout-align="center center">
                OR
            </div>
            <div layout="row" layout-align="center center">
                <md-input-container flex="90">
                    <textarea ng-model="dataentry.addMachine.output" rows="10" id="lscpuOutput" placeholder="Paste the output of the 'lscpu' command" />
                </md-input-container>
            </div>
            <div layout="row" layout-align="end center">
                <md-button ng-click="dataentry.submitMachine()"></md-button>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="column" layout-margin>
            <h4>Add Approach</h4>
            <div layout="row" layout-align="space-around center">
                <md-input-container flex="40">
                    <md-select ng-change="dataentry.selectCategory(category, dataentry.addApproach)" ng-model="dataentry.addApproach.selectedCategory" placeholder="Select a category">
                        <md-option ng-repeat="category in dataentry.addApproach.categories" ng-value="category">{{ category.name }}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="40">
                    <md-select ng-model="dataentry.addApproach.selectedProblem" placeholder="Select a problem">
                        <md-option ng-repeat="problem in dataentry.addApproach.problems" ng-value="problem">{{ problem.name }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" layout-align="space-around center">
                <md-input-container flex="40">
                    <md-select ng-model="dataentry.addApproach.selectedMachine" placeholder="Select a problem">
                        <md-option ng-repeat="machine in dataentry.addApproach.machines" ng-value="machine">{{ machine.model_name }}</md-option>
                    </md-select>
                </md-input-container>
                <div flex="40">
                    <center>
                        <label class="md-button md-primary md-raised">
                            Upload <input type="file" style="display: none;" onchange="angular.element(this).scope().custom.read_file(this.files)">
                        </label>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
