<div layout="row" layout-align="space-around center">
    <div flex="90">
        <div id="{{chart.id}}"></div>
    </div>
</div>
<div layout="row" layout-align="space-around center">
    <md-switch ng-model="chart.userOptions.hAxis.logScale" ng-true-value="true" ng-false-value="false" ng-change="chart.refresh()">
        X Log Scale
    </md-switch>
    <md-switch ng-model="chart.userOptions.vAxis.logScale" ng-true-value="true" ng-false-value="false" ng-change="chart.refresh()">
        Y Log Scale
    </md-switch>
    <md-button class="md-primary md-raised" ng-click="chart.exportChart()">Export Graph</md-button>
</div>
<div layout="row" layout-align="space-around center">
    <md-input-container flex="10">
        <label>X-axis Min</label>
        <input type="text" ng-model="chart.userOptions.hAxis.viewWindow.min" ng-change="chart.refresh()">
    </md-input-container>
    <md-input-container flex="10">
        <label>X-axis Max</label>
        <input type="text" ng-model="chart.userOptions.hAxis.viewWindow.max" ng-change="chart.refresh()">
    </md-input-container>
    <md-input-container flex="10">
        <label>Y-axis Min</label>
        <input type="text" ng-model="chart.userOptions.vAxis.viewWindow.min" ng-change="chart.refresh()">
    </md-input-container>
    <md-input-container flex="10">
        <label>Y-axis Max</label>
        <input type="text" ng-model="chart.userOptions.vAxis.viewWindow.max" ng-change="chart.refresh()">
    </md-input-container>
</div>
